<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/styles.css')}}">
    {% block head %}{% endblock %}
</head>
<body id="body">
    {% block body %}{% endblock %}
<br> 
<section class="footer">
    <div class="social">
        <a href="https://www.instagram.com/felixhkp0/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
        <a href="https://www.instagram.com/vloozo2" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></i></a>
        <a href="https://www.instagram.com/rayyan_/" target="_blank" rel="noopener noreferrer"><i class='bx bxl-instagram'></i></a>
        <a href="https://www.instagram.com/neverliveforever/" target="_blank" rel="noopener noreferrer"><i class='bx bxl-instagram'></i></a>
    </div>
    <p class="copyright">CodeVerse@2024</p>
</section>
</body>
</html>